.items-summarized-card_container{
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  overflow: hidden;
  margin: 16px;
  flex: 1 1 280px;

  .items-summarized-card_image-container {
    .items-summarized-card_image {
      width: 100%;
    }
    background-color: #ffffff;
  }

  .items-summarized-card_content {
    padding-left: 16px;
    background-color: #ffffff;
    .items-summarized-card_content-price {
      font-size: 20px;
      font-weight: 800;
      color: #003b59;
    }
    .items-summarized-card_content-place {
      font-weight: 600;
    }
  }
}
