<div class="items-summarized-card_container">
  <div class="items-summarized-card_image-container">
    <img class="items-summarized-card_image" [src]="attributes.images[0]" />
  </div>
  <div class="items-summarized-card_content">
    <div class="items-summarized-card_content-price">{{ attributes.price }}<span>&nbsp;€</span></div>
    <h3 class="items-summarized-card_content-place">{{ attributes.type }} en {{ attributes.streetType + ' ' + attributes.streetName + ', ' + attributes.location }}</h3>
  </div>
</div>
