.estate-list_container {
  width: 100%;
}
.estate-list_content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  .estate-list_action {
    margin-top: 32px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
  }
}
