<div class="estate-list_container">
  <div *ngIf="items$ | async as items; else loading" class="estate-list_content">
    <div *ngIf="items.length === 0">Oops, there's no item matching your criteria.</div>
    <div class="estate-list_content-item">
      <mat-grid-list [cols]="columnsNumber">
        <mat-grid-tile *ngFor="let item of items">
          <activa-estate-summarized-card-component [attributes]="item.attributes"></activa-estate-summarized-card-component>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="estate-list_action">
      <div class="estate-list_action-button">
        <button mat-raised-button color="primary" (click)="onLoadMore()">Load More</button>
      </div>
    </div>
  </div>
  <ng-template #loading> Loading your Items... </ng-template>
</div>

