/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  background-color: #eeeeee;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.app-container {

  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  padding: 0 16px;
  box-sizing: border-box;

  &.full-size {
    min-height: 600px;
    @media only screen and (max-device-width: 736px) {
      padding: 0;
    }
  }
}
